
body{

    background-color: darkorange;

}


#div1{
    width:150px;
    height:100px;
    border:1px solid red;
    padding:1%;
    overflow: hidden;
}

h1{
    text-align: center;
}

#imagen1{
    float: left;

}

#imagen1{
    float: right;
    
}


bo
