
body{

    background-color: darkorange;

}


#div1{
    width:100%;
    height:50%;
    padding:1%;
    overflow: hidden;
    text-align: center;
}

h1{
    text-align: center;
}

#imagen1{
    float: left;

}

#imagen1{
    float: right;
    
}


#div2{
    width:100%;
    height:50%;
    padding:1%;
    overflow: hidden;
    text-align: center;
}

#div3{
    width:100%;
    height:50%;
    padding:1%;
    overflow: hidden;
    text-align: center;
}

#div4{
    width:100%;
    height:50%;
    padding:1%;
    overflow: hidden;
    text-align: center;
}

